<template id="idTemplateContentCard">
    <!-- ContentCard -->
    <div id="idContentCard" class="card sgContentCard mb-3 bg-dark sgMarginBottom_32">
        <div class="row g-0">
            <div class="col-md-4">
                <img id="idAnimeImg" class="img-fluid rounded-start"
                    src="https://m.media-amazon.com/images/M/MV5BYmQ2YmU0YzEtYWE5OS00MjU4LThmZDQtZGNhNTE5Y2MwODg1XkEyXkFqcGdeQXVyMTUwMjI0MTI@._V1_.jpg"
                    alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 id="idAnimeTitle" class="card-title">Drifters</h5>
                    <p id="idAnimeDescription" class="card-text sgMarginTop_32">Various historical fighters are summoned
                        from across time to
                        wage war on each other, with the fate of the world in the balance.</p>
                    <div class="d-flex flex-row">
                        <div id="idAnimeSeason" class="btn btn-success sgMarginRight_16">Season 1</div>
                        <div id="idAnimeEpisode" class="btn btn-primary sgMarginRight_16">episode 1/24</div>
                        <div id="idAnimeEpisode" class="btn btn-warning">Website 9anime</div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <!--/ ContentCard  -->
</template>